<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="Ken Trading KenTrading CO.,LTD. 株式会社ケントレーディング,ケントレーディング,ケントレ,輸入,輸出,輸出入,貿易,繊維,布生地,大阪,会社,海外,,,,,,,,,,,,">
    <meta name="twitter:description"
        content="株式会社ケントレーディング 創 業： 1987年2月 設 立: 2020年11月 所在地: 大阪市中央区備後町3丁目４－９ 輸出繊維会館6階 代表取締役： 天日元博 電話番号 : 06-6210-5181 mail : coktokinks72@yahoo.co.jp 主たる業務: テキスタイル（服地）の海外販売 資本金 10,000,000円 取引銀行： 大阪商工信用金庫 西支店">
    <link rel="shortcut icon"
        href="../images/LOGO_1.jpeg"
        type="image/png">
    <title>Contact |Ken Trading</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
        crossorigin="anonymous">
    <!-- CSS -->
    <!-- CSS -->
    <link href="Contact.css" rel="stylesheet">
    <!--jQuery CDN-->

    <!--Font Awesome-->
    <script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
    <!--google fonts -->

</head>

<body>
    <header>
        <nav class="navbar navbar-light">
            <div class="container-fluid navbar-expand-sm">
                <a href="../index.html">
                    <h3 class="fw-bold mb-0">Ken Trading</h3>
                    <p class="text-center fontsize90 m-0">~since 1987~</p>
                </a>
                <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#into_list"
                    aria-controls="mynavbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse "
                    id="into_list">
                    <ul class="navbar-nav ms-auto"
                        id="Ken Trading">
                        <li class="nav-item m-2">
                            <h5><a class="nav-link"
                                    href="../index.html">Home</a></h5>
                        </li>
                        <li class="nav-item m-2">
                            <h5><a class="nav-link"
                                    href="Our_Services.html">Our Services</a></h5>
                        </li>
                        <li class="nav-item m-2">
                            <h5><a class="nav-link"
                                    href="About_us.html">About Us</a></h5>
                        </li>
                        <li class="nav-item m-2">
                            <h5><a class="nav-link"
                                    href="#">Contact</a></h5>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container-fluid">
        <h1 class="display-4 text-center">Contact</h1>
        <div class="row row-cols-1 row-cols-lg-2 py-5">
            <div class="col">
                <div class="h-100">
                    <div class="card box-shadow h-100">
                        <h1 class="card-header align-self-stretch text-center-sm">Want to Write Letter to Us?</h1>
                        <div class="card-body px-5">
                            <label for="Name">Name</label>
                            <input class="py-2 my-3" id="Name" type="text" name="name" placeholder="Name" value="">
                            <label for="email">E-mail</label>
                            <input class="py-2 my-3" id="Email" type="email" name="email" placeholder="E-mail" value="">
                            <label for="customer_type">Customer type</label>
                            <select id="CustomerType" name="customer_type">
                                <option hidden value="">Choose your type</option>
                                <option value="Company">Company</option>
                                <option value="Personally">Personally</option>
                            </select>
                            <label for="Message">Message</label>
                            <textarea class="py-2 my-3" id="Message" name="textarea" placeholder="Your message here" rows="4" cols="40" value=""></textarea>
                            <p class="successfullyMessage" id="successfullyMessage" style="display: none;">Your message has been sent successfully!</p>
                            <p class="successfullyMessage" id="failedMessage" style="display: none; color: red;">There is empty. Please fill all empty. </p>
                        </div>
                        <div class="card-footer">
                            <div class="text-center p-2">
                                <button class="submit" id="Submit" type="submit">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="">
                    <h1 class="border-bottom p-2 pt-5 pt-lg-0 text-center-sm">Our Information</h1>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-building"></i>
                        <div>
                        <p class="p-3">Monday to Friday<br>
                        9:00am — 5:00pm</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-phone"></i>
                        <div>
                            <p class="p-3">06-6210-5181</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-map-marked-alt"></i>
                        <div>
                            <p class="p-3">3-chōme-4-9- 6th floors Bingomachi, Chuo Ward, Osaka, 541-0051, Japan</p>
                        </div>
                    </div>
                </div>
                <iframe class="p-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.782328944111!2d135.4997995507852!3d34.68544278034235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6e1f3818951%3A0xa844de21a6fbf411!2sThe%20Textile%20Exporters%20House%2C%203-ch%C5%8Dme-4-9%20Bingomachi%2C%20Chuo%20Ward%2C%20Osaka%2C%20541-0051%2C%20Japan!5e0!3m2!1sen!2sca!4v1633770579394!5m2!1sen!2sca" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </main>
    <div class="container-fluid">
        <footer class="row row-cols-1 row-cols-lg-2">
            <div class="col">
                <div class="d-inline-flex py-lg-3">
                    <a class="d-inline-block p-3" href="../index.html">
                        <h3 class="fw-bold">Ken Trading</h3>
                        <p class="text-center">~since 1987~</p>
                    </a>
                </div>
            </div>
            <div class="col py-lg-4">
                <div class="d-inline-flex width-max">
                    <ul class="inline-center text-center-sm align-items-center p-lg-3 width-max">
                        <li class="px-2 mx-lg-3 m-4 m-lg-3">
                            <h5><a href="../index.html">Home</a></h5>
                            <!-- https://shingotennichi.github.io/sample/components/Our_Services.html -->
                        </li>
                        <li class="px-2 mx-lg-3 m-4 m-lg-3">
                            <h5><a href="Our_Services.html">Our Services</a></h5>
                            <!-- https://shingotennichi.github.io/sample/components/About_us.html -->
                        </li>
                        <li class="px-2 px-lg-3 m-4 m-lg-3">
                            <h5><a href="About_us.html ">About Us</a></h5>
                            <!-- https://shingotennichi.github.io/sample/components/Contact.html -->
                        </li>
                        <li class="px-2 px-lg-3 m-4 m-lg-3">
                            <h5><a href="#">Contact</a></h5>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Javascript -->
    <script src="Contact.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1020.0.min.js"></script>
    <script src="SNSPublishToTopic.js"></script>
    <!-- JSON Glottologist -->
    <script src="https://unpkg.com/glottologist"></script>
    <!-- Bootstrap Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
</body>

</html>