/* ========== main setting ========== */
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

footer {
    background-color: rgb(150, 150, 150);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

h1, h2, h3, h4, h5, p, ul {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 20%;
}

ul {
    list-style: none;
}
/* ========== other setting ========== */
.bg-white-gray {
    background-color: rgb(211, 211, 211);
}

@media screen and (min-width:540px) {
    .inline-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {
    .text-center-sm {
        text-align: center;
    }
}

.width-max {
    width: 100%;
}

.fixed-background {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.bg-products {
    background-image: url(/images/wood.jpg);
    background-color: rgba(230, 230, 230, 0.8);
    background-blend-mode: color;
}