<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="Ken Trading KenTrading CO.,LTD. 株式会社ケントレーディング,ケントレーディング,ケントレ,輸入,輸出,輸出入,貿易,繊維,布生地,大阪,会社,海外,,,,,,,,,,,,">
    <meta name="twitter:description"
        content="株式会社ケントレーディング 創 業： 1987年2月 設 立: 2020年11月 所在地: 大阪市中央区備後町3丁目４－９ 輸出繊維会館6階 代表取締役： 天日元博 電話番号 : 06-6210-5181 mail : coktokinks72@yahoo.co.jp 主たる業務: テキスタイル（服地）の海外販売 資本金 10,000,000円 取引銀行： 大阪商工信用金庫 西支店">
    <link rel="shortcut icon"
        href="images/ken trading logo.ico"
        type="image/png">
    <title>Our Services |Ken Trading</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
        crossorigin="anonymous">
    <!-- CSS -->
    <!-- CSS -->
    <link href="Our_Services.css"
        rel="stylesheet">
    <!--jQuery CDN-->

    <!--Font Awesome-->
    <script defer
        src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
    <!--google fonts -->

</head>

<body>
    <header>
        <nav class="navbar navbar-light">
            <div class="container-fluid navbar-expand-sm">
                <a href="../index.html">
                    <h3 class="fw-bold mb-0">Ken Trading</h3>
                    <p class="text-center fontsize90 m-0">~since 1987~</p>
                </a>
                <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#into_list"
                    aria-controls="mynavbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse "
                    id="into_list">
                    <ul class="navbar-nav ms-auto"
                        id="Ken Trading">
                        <li class="nav-item m-2">
                            <h5><a class="nav-link"
                                    href="#">Our Services</a></h5>
                        </li>
                        <li class="nav-item m-2">
                            <h5><a class="nav-link"
                                    href="About_us.html">About us</a></h5>
                        </li>
                        <li class="nav-item m-2">
                            <h5><a class="nav-link"
                                    href="Contact.html">Contact</a></h5>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container-fluid">
        <div class="row row-cols-1">
            <div class="col">
                <h1 class="display-4 text-center">Our Services</h1>
            </div>
        </div>
        <div class="row row-cols-1">
            <div class="col">
                <div class="bg-white-gray text-center-sm p-2 mx-0 mx-lg-5">
                    <div class="bg-white p-3">
                        <h2 class="mb-2 mb-lg-0">Our Proficient Processes & Rich Variety Textiles</h2>
                        <p>Our powerful four steps process will bring you successful business. this is sample sentence.this is sample sentence.this is sample sentence.this is sample sentence.this is sample sentence.this is sample sentence.this is sample sentence.this is sample sentence.this is sample sentence.this is sample sentence.</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2 class=" pt-5 ps-lg-5 text-center-sm">HOW IT WORKS</h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                <div class="col text-center p-3">
                    <h3>First Step</h3>
                    <span class="px-3"><i class="far fa-envelope"></i></span><span class="px-3"><i class="fas fa-phone-alt"></i></span>
                    <p>this is sample sentence.this is sample sentence.this is sample sentence.this is sample sentence.this is sample sentence.</p>
                </div>
                <div class="col text-center p-3">
                    <h3>Second Step</h3>
                    <i class="far fa-handshake"></i>
                    <p>this is sample sentence.this is sample sentence.this is sample sentence.this is sample sentence.this is sample sentence.</p>
                </div>
                <div class="col text-center p-3">
                    <h3>Third Step</h3>
                    <i class="fas fa-ship"></i>
                    <p>this is sample sentence.this is sample sentence.this is sample sentence.this is sample sentence.this is sample sentence.</p>
                </div>
                <div class="col text-center p-3">
                    <h3>Final Step</h3>
                    <i class="fas fa-file-invoice-dollar"></i>
                    <p>this is sample sentence.this is sample sentence.this is sample sentence.this is sample sentence.this is sample sentence.</p>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="px-5 pt-5">
                <h2 class="text-center-sm">取扱商材</h2>
                <h3 class="">Natural Fibers</h3>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2  m-sm-3">
            <div class="col p-3">
                <div class="d-inline-block">
                    <img src="../images/green-twill.jpg"
                        width="300"
                        height="auto">
                    <div class="d-inline-block">
                        <h3 class="">Twill</h3>
                        <p>Clarification</p>
                    </div>
                </div>
            </div>
            <div class="col p-3">
                <div class="d-inline-block">
                    <img src="../images/gray-knit.jpg"
                        width="300"
                        height="auto">
                    <div class="d-inline-block">
                        <h3>Broad</h3>
                        <p>Clarification</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 m-sm-3">
            <div class="col p-3">
                <div class="d-inline-block">
                    <img src="../images/Textile4.jpg"
                        width="300"
                        height="auto">
                    <div class="d-inline-block">
                        <h3>cloth</h3>
                        <p>Clarification</p>
                    </div>
                </div>
            </div>
            <div class="col p-3">
                <div class="d-inline-block">
                    <img src="../images/yellow-knit.jpg"
                        width="300"
                        height="auto">
                    <div class="d-inline-block">
                        <h3>Stain</h3>
                        <p>Clarification</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-bottom px-md-5">
            <h3 class="">Synthetic Fibers</h3>
        </div>
        <div class="row row-cols-1 row-cols-md-2  m-sm-3">
            <div class="col p-3">
                <div class="d-inline-block">
                    <img src="../images/cream-silk.jpg"
                        width="300"
                        height="auto">
                    <div class="d-inline-block">
                        <h3>Jersey</h3>
                        <p>Clarification</p>
                    </div>
                </div>
            </div>
            <div class="col p-3">
                <div class="d-inline-block">
                    <img src="../images/red-textile.jpg"
                        width="300"
                        height="auto">
                    <div class="d-inline-block">
                        <h3>tricot</h3>
                        <p>Clarification</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 m-sm-3">
            <div class="col p-3">
                <div class="d-inline-block">
                    <img src="../images/white-textile.jpg"
                        width="300"
                        height="auto">
                    <div class="d-inline-block">
                        <h3>Tulle</h3>
                        <p>Clarification</p>
                    </div>
                </div>
            </div>
            <div class="col p-3">
                <div class="d-inline-block">
                    <img src="../images/Textile5.jpg"
                        width="300"
                        height="auto">
                    <div class="d-inline-block">
                        <h3>Mesh</h3>
                        <p>Clarification</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="container-fluid">
        <footer class="row row-cols-1 row-cols-md-2 bg-gray">
            <div class="col">
                <div class="d-inline-flex py-3">
                    <a class="d-inline-block p-3" href="../index.html">
                        <h3 class="fw-bold mb-0">Ken Trading</h3>
                        <p class="text-center fontsize90 m-0">~since 1987~</p>
                    </a>
                </div>
            </div>
            <div class="col py-4">
                <div class="">
                    <ul class="inline-center text-center-sm p-0 m-0">
                        <li class="mx-2 mx-lg-3 my-3 mx-2">
                            <h5><a href="#">Our Services</a></h5>
                        </li>
                        <li class="px-2 px-lg-3 my-3 mx-2">
                            <h5><a href="About_us.html">About us</a></h5>
                        </li>
                        <li class="px-2 px-lg-3 my-3 mx-2">
                            <h5><a href="Contact.html">Contact</a></h5>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Javascript -->
    <script src="Our_Service.js"></script>
    <!-- JSON Glottologist -->
    <script src="https://unpkg.com/glottologist"></script>
    <!-- Bootstrap Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
</body>

</html>