/* ========== main setting ========== */
body {
	font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.5;
    color: #424242;
}

footer {
    background: rgb(119,144,169);
    background: -moz-linear-gradient(223deg, rgba(119,144,169,1) 13%, rgba(155,172,188,1) 48%);
    background: -webkit-linear-gradient(223deg, rgba(119,144,169,1) 13%, rgba(155,172,188,1) 48%);
    background: linear-gradient(223deg, rgba(119,144,169,1) 13%, rgba(155,172,188,1) 48%);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

h1, h2, h3, h4, h5, p, ul {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 20%;
}

ul {
    list-style: none;
}
/* ========== other setting ========== */
.bg-white-gray {
    background-color: rgb(211, 211, 211);
}

@media screen and (min-width:540px) {
    .inline-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {
    .text-center-sm {
        text-align: center;
    }
}

.width-max {
    width: 100%;
}

.fixed-background {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.bg-products {
    background-image: url(../images/IMG_8.jpg);
    background-color: rgba(230, 230, 230, 0.8);
    background-blend-mode: color;
}